@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 77% 95%;
    --foreground: 0 0% 20%;
    --card: 39 77% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 39 77% 95%;
    --popover-foreground: 0 0% 20%;
    --primary: 180 25% 25%;
    --primary-foreground: 39 77% 95%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 40%;
    --accent: 37 25% 65%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 25% 85%;
    --input: 37 25% 85%;
    --ring: 180 25% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 88%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 88%;
    --primary: 37 25% 65%;
    --primary-foreground: 0 0% 11%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 69%;
    --accent: 37 25% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 25% 35%;
    --input: 37 25% 35%;
    --ring: 37 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
